.header {
  height: 80px;
  background-image: url("/header-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.logo {
  width: 100px;
  background: whitesmoke;
  padding: 6px;
  border-radius: 6px;
  margin: 1rem;
}
