.header {
  height: 80px;
  background-image: url("/header-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
}

.logo {
  width: 100px;
  background: whitesmoke;
  padding: 6px;
  border-radius: 6px;
  margin: 1rem;
}

.header ul {
  margin-right: 2rem;
  background: rgba(22, 22, 22, 0.6);
  padding: 2px 10px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}
.header li {
  padding: 2px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 3px;
}

.logoutBtn {
  cursor: pointer;
  align-self: flex-end;
}

.logoutBtn:hover {
  background-color: rgb(185, 0, 0);
}
