.itemsContainer {
  margin: 1.6rem 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  gap: 8px;
}

.btnAdd {
  width: 100%;
  padding: 0.75rem;
  background: #01a8ff;
  color: white;
  border: none;
  border-radius: 6px;
  margin-top: 1rem;
  font-size: 1.2rem;
}
.btnAdd:hover {
  background: #00679f;
}

.emptyList {
  background: rgba(2, 2, 2, 0.8);
  color: whitesmoke;
  font-size: 1.5rem;
  font-variant: small-caps;
  letter-spacing: 1px;
  display: grid;
  justify-content: center;
  gap: 0.5rem;
  padding: 24px 6px;
  text-align: center;
}
